html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 3.5rem;
    font-family: YuGothic, '游ゴシック','Noto Sans JP',"Meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
    text-align: center;
    font-weight: 300;
    background-image: url('../images/index-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 80px;
    line-height: 80px;
    background-color: #ffb6c1;
    color: #696969;
}
